@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

table{
    margin-top: 150px;
    padding: 12px;
    width: 80%;
    font-family: 'Roboto', sans-serif;

}

th{
    padding: 5px;
    background-color: #A19FCD;
    border: 1px solid black;
    margin: 0;
}
td{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: #E6E6F2;
    border: 1px solid black;
    margin: 0;
    box-shadow: 3.19871px 1.59935px 1.59935px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.title{
    
    background-color: #4E489D;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: #E6E6F2;
    font-size: 50px;
    text-align: left;
}
.tablaux{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accpter{
    font-size: 19px; 
    padding: 5px;
    background-color: green;
    border-radius: 20px;
    margin: 5px;

}

.refuser{
    font-size: 19px; 
    padding: 5px;
    background-color: red;
    border-radius: 20px;
    margin: 5px;
}